cmake_*
build.make
BUILD.bazel
CMakeOutput*
CMakeSystem*
compiler_*
*.cmake
*.make
gmock*
googletest*
progress*
*.o
*.d
Makefile*
*gmock*
*gtest*
Version.h
TargetDirectories.txt
link*
*.a
a.out
CMakeDe*
CMakeCXX*
CMakeCache*
CMakeCComp*
*.swp
cmake.check*
tasks.json
test_logging
Progress
.vscode
build
